@model List<PassportGeneratingSystem.Models.UserDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application Detail</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <h4>Application Details</h4>
    <hr />

    <table class="user">
        <thead>
            <tr>
                <th>Application ID</th>
                <th>Given Name</th>
                <th>Father's Name</th>
                <th>Mobile Number</th>
                <th>Email ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.GivenName</td>
                    <td>@user.FatherGivenName</td>
                    <td>@user.MobileNumber</td>
                    <td>@user.EmailID</td>
                    <td>@user.status</td>
                    @if (user.status != "submit")
                    {
                        <td class="action-links">
                            <a href="@Url.Action("Edit", "User", new { id = user.ID })" class="btn btn-apply">Apply Booking</a>
                            <a onclick="confirmDelete(@user.ID)" class="btn btn-delete">Delete</a>
                        </td>
                    }
                    else if (user.PassportNumber?.Length > 0)
                    {
                        <td class="action-links">
                            <a href="@Url.Action("Edit", "User", new { id = user.ID })" class="btn btn-download">Download</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <script src="~/js/site.js"></script>
</body>
</html>
